ALSA_INPUT=plughw:USB

STREAM_HOST=stream.wuvt.vt.edu
STREAM_PORT=8000
STREAM_PASSWORD=hackme

META_NAME='WUVT-FM 90.7 Blacksburg, VA'
META_DESCRIPTION='The greatest radio station in the world'
META_GENRE='College radio'
META_URL=https://www.wuvt.vt.edu
MOUNT_PREFIX=wuvt
